<div class="thanh modal-login">
    <i routerLink="/" class="fas fa-times" style="color: white; font-size: 32px; position: absolute; top: 40px; right: 50px; z-index: 100; cursor: pointer;"></i>
    <div class="form-container">
        <div class="overlay" routerLink="/"></div>
        <form style="z-index: 50; height: 400px;" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">

            <div class="list-sample">

                <igx-list>
                    <igx-list-item [isHeader]="true">Contacts: {{(data | igxFilter: fo).length}} </igx-list-item>
                    <div [style.height]="'500px'" [style.overflow]="'hidden'" [style.position]="'relative'">
                        <igx-list-item [style.width]="'calc(100% - 18px)'" igxRipple="pink" igxRippleTarget=".igx-list__item" *igxFor="let item of data | igxFilter: fo; scrollOrientation : 'vertical'; containerSize: '500px'; itemSize: '50px'">
                            <igx-avatar igxListThumbnail [src]="item.avatar" roundShape="true"></igx-avatar>
                            <span igxListLineTitle>{{ item.name }}</span>
                            <igx-icon igxListAction [color]="item.favorite ? 'orange' : 'lightgray'" (click)="toggleFavorite(item)">star</igx-icon>
                        </igx-list-item>
                    </div>
                </igx-list>
            </div>
        </form>
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
</div>