<nav class="navbar">
    <div class="container">
        <div class="offset-md-1"></div>
        <div style="position: relative;left: -100px;" *ngIf="logged" (click)="toggleMenu()">
            <img src="assets/images/menu.svg" alt="">
        </div>
        <div class="navbar-logo">
            <a routerLink="/start"><img src="assets/images/logo.svg" /></a>
        </div>
        <app-search-form></app-search-form>
        <ul class="navbar-nav" *ngIf="logged">
            <li>
                <a routerLink="/cart"> <i class="fas fa-shopping-cart"></i> {{ totalItem }}</a>
            </li>
            <li><a routerLink="/start/login">{{_auth.getUser().email}}</a></li>

        </ul>
        <ul class="navbar-nav" *ngIf="!logged">

            <li><a routerLink="/start/login">Login</a></li>
            <li class="btn"><a routerLink="/start/register">Join</a></li>
        </ul>
        <div class="offset-md-1"></div>
    </div>
</nav>

<aside class="side-menu" style="display:block; z-index: 99999" *ngIf="showMenu && logged">
    <div class="overlay" (click)="toggleMenu()"></div>
    <div class="list-container">
        <i class="fas fa-times close-icon" (click)="toggleMenu()"></i>
        <ul>
            <li routerLinkActive="active"><a [routerLink]="['/user', user? user.slug : '']">Profile</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/settings/upload']">Upload</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/settings">Settings</a></li>
        </ul>
        <ul>
            <li routerLinkActive="active"><a routerLink="/settings/change-password">Change Password</a></li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>
    </div>
</aside>